<h2>How big is the human you need to feed? <h2>

<h4>
<%= form_for :ingredient_list, url: {action: :create} do |f| %>
    <% size_choice = { :small => 0, :medium => 1, :large => 2,
                 :extra_large => 3 } %>
  <p>
    <%= f.select(:size, size_choice )%>
  </p>
  <p>
    <%= f.submit "Go. Feed me. Whatev." %>
  </p>
<% end %>
</h4>
