<br />
<br />

<h2>How big are you? <h2>

<%= form_for :ingredient_list, url: {action: :create} do |f| %>
    <% size_choice = { :small => 0, :medium => 1, :large => 2,
                 :extralarge => 3 } %>
  <p>
    <%= f.select(:size, size_choice )%>
  </p>
  <br />
  <div class="button_nav">
    <%= f.submit "Go. Feed me. Whatev." %>
  </div>

  <%#= sizes: small = 80-100lbs, med = 110-140lbs, lg = 140-180lb, xl = 180+lbs %>
<% end %>

