<h2 class="headline">Slacker Meals</h2>
<br />
<p class="headline">slackers gotta eat!</p>

<br />
<br />

<h1>Here's what you should eat</h1>

<%= render "ingredients_table" %>

<br />

<%= link_to 'Give me a different meal', ingredient_lists_path %>
