<br />
<br />

<h2>About Slacker Meals</h2>

<p>
Slacker Meals generates nutritionally sound meal suggestions tailored to the requirements of the user. Currently, this means calories, protein, and calcium in a meal are adjusted based on the size of the user, but in the future we hope to add customization based on dietary restrictions and more detailed nutritional information. Meals are not intended to help the user lose weight or treat any health problems. We can guarantee that eating Slacker Meals will totally keep you alive, for like up to a week. If you're depending on us for longer than that, you might want to have Flinstones Vitamins for dessert.
</p>

<p>

Our estimated nutrional requirements come from the National Academy of Science and can be viewed here:

</p>

<br />

<div class="button_nav">
  <%= link_to 'Home', root_path %>
</div>