<br />
<br />

<h2>About Slacker Meals</h2>

<p>
Slacker Meals generates nutritionally sound meal suggestions tailored to the requirements of the user. Currently, this means calories, protein, and calcium in a meal are adjusted based on the size of the user, but in the future we hope to add customization based on dietary restrictions and more detailed nutritional information. Meals are not intended to help the user lose weight or treat any health problems. We can guarantee that eating Slacker Meals will totally keep you alive, for like up to a week. If you're depending on us for longer than that, you might want to have Flinstones Vitamins for dessert.
</p>

<p>
Our estimated nutrional requirements come from the National Academy of Science and can be viewed <a href="http://www.iom.edu/Activities/Nutrition/SummaryDRIs/~/media/Files/Activity%20Files/Nutrition/DRIs/1_%20EARs.pdf" target="_blank">here</a>. The nutritional information we use comes from the <a href="http://www.ars.usda.gov/main/site_main.htm?modecode=12-35-45-00" target="_blank">US Department of Agriculture</a>, via <a href="http://nutridb.org/about" target="_blank">NutriDB</a>.
</p>
<br />

<p>These are the numbers we use to generate our meals. Each meal provides between 80-130% of one third of the daily requirements for a person of the size specified.</p>
<table>
	<tr class="highlight">
		<th>size of human</th>
		<th>weight of human</th>
		<th>daily caloric requirement</th>
		<th>daily protein requirement</th>
		<th>daily calcium requirement</th>
	</tr>
	<tr class="orange">
		<td>small</td>
		<td>18-100 lbs</td>
		<td>1600</td>
		<td>29</td>
		<td>900</td>
	</tr>
	<tr class="orange">
		<td>medium</td>
		<td>110-140 lbs</td>
		<td>2100</td>
		<td>39</td>
		<td>900</td>
	</tr>
	<tr class="orange">
		<td>large</td>
		<td>140-180 lbs</td>
		<td>2500</td>
		<td>50</td>
		<td>900</td>
	</tr>
	<tr class="orange">
		<td>extra large</td>
		<td>180+ lbs</td>
		<td>3000</td>
		<td>60</td>
		<td>900</td>
	</tr>
	</table>

<br />

<p>Slacker Meals was created by Cheri Allen and Strand McCutchen in 2013. It's <a href="https://github.com/cherimarie/put_it_in_your_face" target="blank">code and assets</a> are freely available under the MIT License. We think you could use a snack.</p>

<div class="button_nav">
  <%= link_to 'Home', root_path %>
</div>