.highlight {
	color: pink;
}
table {
	border: 1px, solid, gray;
}
th {
	width: 10%;
	padding: 5px;
}
.headline {
	color: green;
	float: right;
}
p.headline {
	font-style: italic;
}
.odd {
  background: mistyrose;
}
.even {
  background: silver;
}
